body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #DCF2F1;
}

#nav_shrink {
    height: 695px;
    width: 50px;
    background-image: linear-gradient(to right, #5b5bac, #23438C);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icon {
    height: 20px;
}

#pic {
    width: 650px;
    height: 600px;
    position: absolute;
    left: 60px;
    margin-top: 50px;
}

.options {
    color: rgba(255, 255, 255, 0.719);
    width: 80px;
    display: inline-block;
    text-align: left;
}

#profile_s {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#logout {
    margin-top: 70px;
}

.view {
    display: flex;
    background-color: orange;
    width: 400px;
    position: absolute;
    left: 500px;
}

h1 {
    display: inline-block;
    font-family: sans-serif;
    background-image: linear-gradient(to right, #1D084B, #212167, #23438C);
    color: white;
    position: absolute;
    left: 950px;
    height: 50px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    padding-top: 15px;
}

h2 {
    font-family: sans-serif;
    color: #1D084B;
    text-align: center;
}

#buttons {
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search {
    height: 50px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 750px;
    top: 100px;
}

.button {
    border: none;
    color: black;
    font-weight: bolder;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    background: linear-gradient(to right, #7DCFE9, #ADBFFD, #4AE0D3);
}

.button:hover {
    transform: scale(1.1);
}

.nav {
    height: 60px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 750px;
    top: 100px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DCF2F1;
    padding: 40px;
    border: 2px solid navy;
    border-radius: 20px;
    z-index: 1000;
    width: 400px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#tab {
    margin-top: 20px;
    width: 700px;
    height: 380px;
    background-color: #DCF2F1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    position: relative;
    left: 750px;
    top: 100px;
}

#dev {
    color: #D1CBCB;
}

.devicedetails {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to right, #1D084B, #212167, #23438C);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icontype {
    width: 40px;
}

label {
    color: #212167;
}

.input {
    border-radius: 20px;
    height: 25px;
    margin: 8px;
    border: 2px solid #23438C;
    background-color: white;
    width: 200px;
}

#deviceForm {
    justify-self: center;
}

select {
    width: 150px;
    margin: 8px;
    border-radius: 20px;
    border: 1px solid #23438C;
    height: 25px;
    color: #212167;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.deviceCheckbox {
    visibility: hidden;
}

#set {
    width: 540px;
    height: 600px;
    position: absolute;
    left: 120px;
    margin-top: 50px;
    background-color: #cef1f5;
    border: 2px solid navy;
    border-radius: 20px;
    z-index: 1000;
    display: none;
}

.devicedetails:hover {
    transform: scale(1.1);
}

.device {
    display: flex;
    width: 360px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 80px;
    top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 1px;
    content: "Off";
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-image: linear-gradient(to right, #1D084B, #212167, #23438C);
}

input:focus+.slider {
    box-shadow: 0 0 4px rgb(54, 10, 90);
}

input:checked+.slider:before {
    content: "On";
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#t1 {
    font-family: sans-serif;
    background: linear-gradient(to right, #1D084B, #212167, #23438C);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#roomName {
    position: relative;
    left: 80px;
    color: #212167;
}

#slidecontainer {
    position: absolute;
    left: 55px;
    top: 270px;
    width: 90%;
    display: none;
}

#slidecontainer2 {
    position: absolute;
    left: 55px;
    top: 270px;
    width: 90%;
    display: none;
}

#slidecontainer3 {
    position: absolute;
    left: 55px;
    top: 270px;
    width: 90%;
    display: none;
}

#slidecontainer4 {
    position: absolute;
    left: 55px;
    top: 270px;
    width: 90%;
    display: none;
}


.slider_set {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 12px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_set:hover {
    opacity: 1;
}

.slider_set::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #1D084B, #212167, #23438C);
    cursor: pointer;
}

h3 {
    color: #212167;
}

#type {
    height: 120px;
    position: relative;
    top: 10px;
    left: 200px;
    display: none;
}

.mode {
    display: inline;
    border-radius: 15px;
    border: 1px solid #23438C;
    margin-left: 25px;
    padding: 5px;
}

.mode:hover {
    padding: 6px;
    border-radius: 20px;
    color: white;
    background-color: #23438C;
}

.selected-mode {
    padding: 6px;
    border-radius: 20px;
    color: white;
    background-color: #23438C;
    box-shadow: 0 0 10px rgba(16, 107, 140, 0.929);
}

.selected-lock {
    background-color: #44beaa;
    box-shadow: 0 0 10px rgba(16, 107, 140, 0.929);
    border-radius: 10px;
}

#mode {
    position: absolute;
    left: 55px;
    top: 360px;
}

#gmode {
    position: absolute;
    left: 55px;
    top: 400px;
    display: none;
}

#locks {
    position: absolute;
    left: 55px;
    top: 260px;
    color: #212167;
}

#loc {
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    left: 160px;
    top: 270px;
}

#locking {
    display: none;
}

#lock {
    display: none;
}

#lock-mode {
    display: none;
}

#pref {
    position: absolute;
    left: 55px;
    bottom: 100px;
    color: #212167;
    font-size: 18px;
    font-weight: 700;
}

#preference {
    position: absolute;
    left: 250px;
    bottom: 90px;
}

#loc-mode {
    position: absolute;
    left: 55px;
    bottom: 200px;
}

#save {
    position: absolute;
    left: 55px;
    bottom: 30px;
}

.type {
    height: 100px;
    position: absolute;
    left: 200px;
}

#bulb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    position: absolute;
    left: 140px;
    bottom: 78px;
}

.demo {
    display: flex;
    width: 250px;
    position: absolute;
    top: -10px;
    left: 40px;
}

.bulb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.bulb:hover {
    transform: scale(1.1);
    border: 3px solid #c069e5;
}

#white {
    background-color: #ffffff;
}

#cream {
    background-color: #f0eabb;
}

#red {
    background-color: #ff0000;
}

#green {
    background-color: #00ff00;
}

#blue {
    background-color: #0000ff;
}

#yellow {
    background-color: #ffff00;
}

#orange {
    background-color: #ff7f00;
}

#purple {
    background-color: #800080;
}

#pink {
    background-color: #ff69b4;
}

#cyan {
    background-color: #00ffff;
}

#indigo {
    background-color: #4b0082;
}

#lime {
    background-color: #00ff00;
}

.selected {
    border: 3px solid #c069e5;
    box-shadow: 0 0 10px rgba(16, 107, 140, 0.929);
}

#shade {
    position: absolute;
    left: 55px;
    bottom: 110px;
    color: #212167;
}

#speed {
    position: absolute;
    left: 55px;
    bottom: 250px;
    color: #212167;
}

#bulb-shade {
    display: none;
}

.fan-speed {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    left: 180px;
    bottom: 260px;
}

.speed-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #ccc;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, width 0.3s, height 0.3s, box-shadow 0.3s;
}

.speed-circle:hover {
    background-color: #50add2;
}

.selected-speed {
    background-color: #23438C;
    box-shadow: 0 0 10px rgba(16, 107, 140, 0.929);
}

#speed-fan {
    display: none;
}

#direct {
    position: absolute;
    left: 55px;
    bottom: 130px;
    color: #212167;
    font-size: 18px;
    font-weight: 700;
}

#direction {
    position: absolute;
    left: 180px;
    bottom: 120px;
}

#setting{
    display: none;
}

#modes {
    position: absolute;
    left: 55px;
    top: 360px;
    color: #212167;
}

.modes {
    height: 50px;
}

.selected-modes {
    background-color: #44beaa;
    box-shadow: 0 0 10px rgba(16, 107, 140, 0.929);
    border-radius: 10px;
}

.mo {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.mo:hover {
    border-radius: 10px;
    background-color: #44beaa;

}

.lo {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.lo:hover {
    border-radius: 10px;
    background-color: #44beaa;

}

.lo:hover p {
    color: white;
}

p {
    color: #1D084B;
    margin: 5px;
}

.mo:hover p {
    color: white;
}

#mod {
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    left: 140px;
    top: 370px;
}

#ac-mod {
    display: flex;
    width: 350px;
    height: 170px;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    left: 140px;
    top: 370px;
    flex-wrap: wrap;
}

#thermo-mode {
    display: none;
}

#ac-mode {
    display: none;
}

#control {
    position: absolute;
    left: 55px;
    bottom: 80px;
    color: #212167;
}

#fan-con {
    position: absolute;
    left: 200px;
    bottom: 95px;
}

#fan-control {
    display: none;
}