body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("C:/Users/Arjun Ajithan/Downloads/Pics/1303559.jpg") center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.logo img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; 
    height: auto;
    display: block;
}

.container {
    width: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3498db;
}

p {
    color: #666;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 15px; 
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.back-to-login {
    margin-top: 20px;
    text-align: center;
}

.back-to-login a {
    color: #3498db;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}
